@model MMACadmin.Models.ReqSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ReqSet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReleaseID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReleaseID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GroupID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnvID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnvID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReqSetID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
